html, body{
    height: 100%;
}

.recruiter-container{
    text-align: center;
    display: flex;
    justify-content: center;
}

.post-button-container{
    margin: 3%;
    text-align: center;
}

.jobs-table{
    width : 90%;
    margin: 5% 5% 0% 5%;
    font-size: 30px;
}

p{
    margin: 8%;
    font-size: 45px;
}


th, td{
    padding: 1%;
}

th{    
    background-color: firebrick;
    color: floralwhite;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

td{
    background-color: floralwhite;
    border-style: solid;
    border-color: black;
    border-radius: 20%;
    border-width: 2px;
}

.applications-button, .post-button{
    font-size: 20px;
    background-color: black;
    color: floralwhite;
    border-radius: 10%;
    padding: 2%;
}

.applications-button:hover, .post-button:hover{
    background-color: floralwhite;
    color: black;
}